---
title: ptvesaulvi
---

<!DOCTYPE HTML>
<html>
	<head>
		<title>Personal Trainer Vesa Ulvi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="canonical" href="http://www.ulvi.fi">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<meta name="description" content="Personal Trainer Vesa Ulvi tarjoaa henkilökohtaista ja ryhmävalmennusta Keski-Pohjanmaan ja erityisesti Kokkolan alueella." />
		<meta name="keywords" content="Personal Trainer, valmennus, valmentaja, Kokkola, LiikeVoima"/>
		<script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');	
          ga('create', 'UA-8768480-1', 'auto');
          ga('require', 'linkid');
          ga('send', 'pageview');	
      </script>
      <meta name="google-site-verification" content="pfjn3MLo7WxZRXDvERDKOBUioIWTsRdQFpDVD1aPH-g" />
	</head>
	<body>
		<!-- Header -->
{% include header.html %}

		<!-- Wrapper -->
		<div id="wrapper">

		  <!-- Main -->
      <div id="main">
				<!-- One -->
{% include s1_init.html %}
				<!-- Two -->
{% include s2_valmennus.html %}
        <!-- Three -->
{% include s3_ryhmat.html %}
        <!-- Four -->
{% include s4_hinnat.html %}
        <!-- Five -->
{% include s5_taustaa.html %}  
			  <!-- Six -->
{% include s6_yhteyslomake.html %}
				<!-- Seven -->
				{% comment %}
{% include s7_debug.html %}
         {% endcomment %}
      </div> <!-- main -->

			<!-- Footer -->
			<section id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; 2016. All rights reserved.</li><li>Design: Vesa Ulvi. Based on <a href="http://html5up.net">HTML5 UP</a> template.</li>
					</ul>
				</div>
			</section>

		</div> <!-- wrapper -->

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollzer.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>
    <script data-cfasync="false" type="text/javascript" src="assets/js/form_submission_handler.js"></script>
	</body>
</html>