<section id="header">
  <header>
  	<span class="image avatar"><img src="images/avatar2copy.jpg" alt="" /></span>
  	<h1 id="logo"><a href="#">Vesa Ulvi</a></h1>
  	<p>Personal Trainer</p>
  </header>
  <nav id="nav">
  	<ul>
  		<li><a href="#one" class="active">Aloitus</a></li>
  		<li><a href="#two">Palvelut</a></li>
  		<li><a href="#three">Ryhmät</a></li>
  		<li><a href="#four">Hinnat</a></li>
  		<li><a href="#five">Lisätietoja</a></li>
  		<li><a href="#six">Yhteydenotto</a></li>
  	</ul>
  </nav>
  <footer>
  	<ul class="icons">
  		<li><a href="http://www.twitter.com/vesaulvi" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
  		<li><a href="http://www.facebook.com/vesaul" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  		<li><a href="http://www.instagram.com/vesaulvi" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  		<li><a href="mailto:vesa@ulvi.fi" class="icon fa-envelope"><span class="label">Email</span></a></li>
  	</ul>
  </footer>
</section>