        <section id="one">
        	<div class="container">
        		<header class="major">
        			<h2>Etsitkö valmentajaa?</h2><p></p>  
        			<p>
                Tarvitsetko apua kuntoilun aloittamiseen, ravintoremonttiin tai urheilusuorituksesi parantamiseen?
              </p>
        			<p>Onko tavoitteenasi				
        				<strong>lihaksikkaampi</strong> vartalo,
        				<strong>pienempi</strong> vaakalukema,
        				<strong>suurempi</strong> voimataso ja kestävyys,
        				<strong>hyvä</strong> ja <strong>energinen</strong> olo
        			  tai vaikka nämä kaikki yhdessä?
        			</p>  
        		</header>
        		<div class="row uniform">
        			<div class="4u"></div>
        			<div class="6u">
        				<ul class="actions">
        					<li><a href="#two" class="button big scrolly">Kyllä, kerro lisää!</a></li>
        				</ul>
        			</div>
        	  </div>
        	</div>
        </section>