          <section id="two">
          	<div class="container">
          		<header>
          		<h2>Yksilövalmennus</h2>
          		<p>Tarjoan henkilökohtaista valmennusta, ohjeita ja tukea saavuttaaksesi tavoitteesi. Usein se vaatii erilaisia lähestymistapoja; toisille toimii keppi, toisille porkkana. Tavoitteellisessa harjoittelussa on tiedossa varmasti tasannevaiheita ja niissä PT voi auttaa neuvoen ja motivoimalla. 
          		</p>
              <h3>Kenelle henkilökohtainen valmennus sopii?</h3>
              <p>Jos jokin seuraavista kohdista pätee sinuun, löydämme varmasti sinulle sopivan valmennuspaketin:</p>
          		<ul class="feature-icons-groups">
          			<li class="fa-battery-quarter">Haluat aloittaa tavoitteellisen voimaharjoittelun, mutta et tiedä mistä alkaa</li>
          			<li class="fa-heartbeat">Haluat varmistaa, että harjoittelet turvallisesti ja tehokkaasti</li>
          			<li class="fa-book">Haluat yhdistellä eri harjoitusmuotoja <br /><p class="smaller">(kuten kehonpaino-, kahvakuula- ja/tai levytankoharjoittelua sekä kestävyysharjoittelua)</p></li>
          			<li class="fa-coffee">Haluat muuttaa ruokailutottumuksiasi ja kehonkoostumustasi</li>
          			<li class="fa-bolt">Haluat omaksua urheilullisen ja terveellisen elämäntavan</li>
          			<li class="fa-exchange">Sinulla on jo harjoituskokemusta, mutta kaipaat vaihtelua nykyiseen harjoitteluun</li>
          			<li class="fa-step-forward">Harjoittelet mielestäsi paljon, mutta tuloksia ei ole viime aikoina näkynyt</li>
          		</ul>
          		</header>
          	</div>
          </section>

