<section id="three">
	<div class="container">
		<h2>Ryhmät ja urheiluseurat</h2>
		<ul class="feature-icons-groups">
			<li class="fa-users">Ohjaan myös 1-4 henkilön <strong>pienryhmiä</strong>: kerää kaveriporukka ja minä autan teitä löytämään yhteisen treenirytmin ja motivoitumaan toisistanne.
		</li>
<li class="fa-users"><strong>Urheiluseurat</strong> &mdash; Tarvitseeko joukkueesi oheisharjoitteita peruskuntokaudelle, tai onko pelaajien voimatasoissa, liikkuvuudessa ja kehonhallinnassa puutteita? <br />Ota yhteyttä, niin keskustellaan tarkemmin. </li></ul>

	</div>
</section>