<section id="four">
  <div class="container">
  	<h2>Hinnat</h2>
  	<h3>Henkilökohtainen valmennus</h3>
  	<p>Yksilövalmennuspakettiin kuuluu ensitapaamisen jälkeen tehtävä alkukartoitus, joka käsittää kyselykaavakkeen, mittaukset (VO2MAX, kehonkoostumus), liike- ja liikkuvuustestauksen ja kuntotestin. 
  Tavoitteiden ja alkukartoituksen perusteella laaditaan kausisuunnitelma ja henkilökohtainen harjoitteluohjelma seuraavalle harjoittelujaksolle. Tavoitteita tukevan ruokavalion seuranta, muutokset ja suositukset perustuvat ruokapäiväkirjaan sekä tietenkin jatkuvaan valmentajan ja valmennettavan väliseen dialogiin! 
  Harjoittelun edistymistä ja toteutumista ohjataan valmennustapaamisissa, jotka tapahtuvat yleensä salilla tai vaikka lenkkipolulla.
  
  Pakettiin kuuluu tietenkin sähköposti- ja puhelintuki.</p>
  	<div class="features">
  		<article>
  			<a href="#" class="image"><img src="images/people1.jpg" alt="" /></a>
  			<div class="inner">
  				<h4>249&euro;/kk</h4>
  				<p>Valmennusta 1 kk kerrallaan, sisältää 4 tapaamista/yhteistä treeniä</p>
  			</div>
  		</article>
  		<article>
  			<a href="#" class="image"><img src="images/people2.jpg" alt="" /></a>
  			<div class="inner">
  				<h4>229&euro;/kk</h4>
  				<p>Suosittu 3kk:n valmennuspaketti, sisältää yhteensä 12 tapaamista tai yhteistä treeniä.</p>
  			</div>
  		</article>
  		<article>
  			<a href="#" class="image"><img src="images/FemalecyclistcyclingamThepathinthewoodsandmountains.jpg" alt="" /></a>
  			<div class="inner">
  				<h4>209&euro;/kk </h4>
  				<p>Sitoutumalla pitempään 6kk-jaksoon säästät!. Sisältää yhteensä 24 tapaamista/yhteistä treeniä.</p>
  			</div>
  		</article>
  	</div>
  	
  	<h3>Pienryhmät ja yritysvalmennukset</h3>
  <p>Pienryhmä on kustannustehokas tapa treenata yksilöllisessä ohjauksessa. Pienryhmässä myös vertaistuki on merkittävä lisäetu. Tarjoan valmennusta 2-4 hengen ryhmille hintaan 329 &euro;/kk ja 5-8 hengen ryhmille hintaan 70€/henkilö/kk. Ryhmätapaamiset ovat 4 kertaa kuukaudessa ja treenipaketin sisältö ja tavoitteet sovitaan alkutapaamisessa. Kokoa työ- tai kaveriporukasta itsellesi innostava treenijoukkue!</p>
  </div>
  </section>