<section id="five">
	<div class="container">
    <h3>Taustaa</h3>
    <p>Oma koulutustaustani alalla koostuu tällä hetkellä seuraavista koulutuksista:
      <ul>
      <li>FISAF kuntosaliohjaaja</li>
      <li>CompactFIT Bodyweight Training Coach 1</li>
      <li>CompactFIT Bodyweight Training Coach 2</li>
      <li>CompactFIT Kahvakuulaohjaaja 1 ja 2</li>
      <li>Painonnostoliiton ohjaajakoulutus 1 ja 2</li>
      <li>Trainer4You Kuntosaliohjaaja</li>
      <li>Trainer4You Personal Trainer</li>
      <li>Liikuntalääketieteen approbatur / Itä-Suomen yliopisto</li>
      </ul>
    </p>  
    <p>Urheilua olen harrastanut lähes koko ikäni, nuorempana joukkuelajeista erityisesti jääkiekkoa ja jalkapalloa, aikuisena myös kaukalopalloa. Yksilölajivalikoimani on vaihdellut sulkapallosta juoksun kautta voimaharjoitteluun ja erityisesti esterata- ja muut elämykselliset juoksutapahtumat ovat sydäntäni lähellä. Voimaharjoittelu, cross training ja painonnosto kuuluvat viikko-ohjelmaani päivittäin joko ohjaamisen tai oman harjoittelun kautta. Vedän tällä hetkellä useita viikottaisia ryhmäliikuntatunteja <a href="http://www.liikevoima.fi" >Liikevoima:lla</a> spinningistä Cross Training- ja kahvakuulatunteihin.
    </p>
	</div>
</section>