<section id="six">
	<div class="container">
		<h2>Ota yhteyttä</h2>
		
		<form id="gform" method="post" action="https://script.google.com/macros/s/AKfycbwmLhFJ9kqnXPmwnuMYdZifObbfsCrRAKlSgFSqT0zMxThOE6_J/exec">
		<p>Kysy mitä vaan! Tosin silloin saatan vastatakin ihan mitä vaan, mutta jos asiasi liittyy kuntoilu/ravitsemusasioihin, mahdolliseen valmennukseen tai olet muuten kiinnostunut palveluistani, niin lähetä viesti! Antamasi tiedot ovat tietenkin luottamuksellisia.</p>
			
			<div class="row uniform">
				<div class="6u 12u(xsmall)"><input type="text" name="name" id="name" placeholder="Nimi" /></div>
				<div class="6u 12u(xsmall)"><input type="email" name="email" id="email" placeholder="Oma e-mail-osoitteesi" /></div>
			</div>
			<div class="row uniform">
				<div class="12u"><input type="text" name="subject" id="subject" placeholder="Aihe" /></div>
			</div>
			<div class="row uniform">
				<div class="12u"><textarea name="message" id="message" placeholder="Viesti" rows="6"></textarea></div>
			</div>
			<div class="row uniform">
				<div class="12u">
					<ul class="actions">
						<li><input type="submit" class="special" value="Lähetä viesti" /></li>
						<li><input type="reset" value="Tyhjennä lomake" /></li>
					</ul>
				</div>
			</div>
		</form>
    <!-- Customise the Thankyou Message People See when they submit the form: -->
    <div style="display:none;" id="thankyou_message">
    <h2><em>Kiitos</em> viestistäsi! Palaan asiaan pian!</h2>
    </div>
	</div>
</section>

