/**
 * Site header
 */
// @import 'base.css';
 
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

	// BEGIN -vu
	color: #bfbfbf;
	padding-top: 1px;
	margin-top: -1px;
	background-color: #515151; /* Old browsers */
	background-image: -moz-linear-gradient(top, #515151 0%, #0d0d0d 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#515151), color-stop(100%,#0d0d0d)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #515151 0%,#0d0d0d 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #515151 0%,#0d0d0d 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #515151 0%,#0d0d0d 100%); /* IE10+ */
	background-image: linear-gradient(top, #515151 0%,#0d0d0d 100%); /* W3C */
  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515151', endColorstr='#0d0d0d',GradientType=0 ); /* IE6-9 */
	// END -vu
	
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    z-index: 100;

    a {    
      padding: 3px 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      &:hover {
          color: snow;
          text-decoration: none;
      }
    }
    
    .menu-icon {
        display: none;
    }

    .page-link {
        //color: $inverted-title-text-color;
        color: lightgray;
        font-size: larger;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .selected {
        background-color: white;
        color: black;
        /*  -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;*/
        &:hover {
          color: black;
        }
    }
      
          
          
    @include media-query($on-palm) {
        position: absolute;
        top: 70px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
    
            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        
        a {
          
          &:hover {
            color: $brand-color;
          }
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            color: grey;
            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
        .selected {
          color: black;
          &:hover {
            color: black;
          }
    }

    }
}

/**
 * Site footer
 */
.site-footer {   
  border-top: 2px solid lightgray;       
    padding: $spacing-unit 0;
    padding-top: 0;
    p#copy {
     color: #888;
     font-style: italic;
    }
}

.footer-heading {
    margin-bottom: $spacing-unit / 2;
//     border: 1px solid blue;
}

.footer-footer {
//   width: 80%;
  border-top: 1px solid lightgray;
    clear: both;
    font-size: small;
    color: lightgray;
    padding-top: $spacing-unit / 2;
 //   margin-top: -$spacing-unit;
//     border: 1px solid yellow;
    text-align: center;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    margin: 0;
    li {
      margin-bottom: 0.3em;
    }

}

.social-media-list {
  list-style-type: none;
      li {
        float: left;   
        padding-top: $small-font-size / 2;
        margin-bottom: 0;
        position: relative;
        z-index: 10;
        margin: 0.3rem ;
    
      }
    
}
.footer-col-wrapper {
  font-size: 15px;
  height: 10px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;

}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;   
//     border: 1px solid $brand-color;
}
    
.footer-col-1 {
    width: -webkit-calc(19% - (#{$spacing-unit} / 2));
    width:         calc(19% - (#{$spacing-unit} / 2));
    font-size: small; 
}

.footer-col-2 {
    width: -webkit-calc(6% - (#{$spacing-unit} / 2));
    width:         calc(6% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(70% - (#{$spacing-unit} / 2));
    width:         calc(70% - (#{$spacing-unit} / 2));
    position: relative;
    &:after {
      content: "";
      opacity: 0.8;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100px;
//       border: 1px solid red;
      position: absolute;
      vertical-align: top;
      z-index: -1;  
      background-image: url('leima_v3.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right bottom;

    }
    p {
      width: 80%;
    }
}

/*
div.footer-col-4 {
    display: block;
    position: relative;
    border: 1px solid blue;
    z-index: 0;
    &:after {
          vertical-align: top; 
      content: "";
      opacity: 0.3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;  

    }
}
*/

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.bottom-aligner {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 40px;

}

.bottom-content {
  display: inline-block;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    padding-top: 0;
}

.page-heading {
    font-size: 20px;
}

/**
 * Posts
 */
.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: right;
}

p.post-meta {
    padding: 0;
    margin: 0;
}

.post-link {
    display: block;
    font-size: 24px;
}



.post-header {
    //margin-bottom: $spacing-unit;
    margin-bottom: none;
    //padding-left: $spacing-unit / 2;  
    // move text a bit further from grey border
    padding-bottom: 0;
}

.post-title {
//     letter-spacing: -1px;
    line-height: 1.2;
    background-color: /*#ff6600*/ #F39325;
    padding: 0.3em 0.6em;
    padding-right: 0;
    padding-bottom: 0.15em;
    margin-bottom: 0;
    border-radius: 4px;    
    
    font-size: x-large;
    font-weight: normal;
    
    color: snow;
  
    > time {
      float: right;
      font-size: medium;
      font-weight: lighter;
      color: snow;

      /* XXX FIXME can't figure out how to align to baseline; hack: */
      position: relative;
      bottom: -0.5em;
      margin-right: 0.5em;
    }
  
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}


.post-content {
  margin-bottom: $spacing-unit / 2;
  margin-top: $spacing-unit / 2;
	padding-left: $spacing-unit / 2; // move text a bit further from grey border
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.page_number {
   font-size: smaller;
    font-weight: lighter;
    color: #888;
}

.pagination {
  float: left;
}
/*
.witharticles {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 8px;
}
*/


// "Continue reading" -links 
div.continue, div.buttons {
  float:right;
}

div.buttons > * {
    display: inline-block;
    height: 24px;
    vertical-align: bottom !important;  /* override generated inline styles... */
}

div#comments {
    clear: left;
    margin: 1em 0;
    /* TODO min-height for an accurate layout sooner? */
}

/* for Facebook comments, override/customize styles as needed: */
div.fb-comments {
    display: block;
}
div.fb-comments span, div.fb-comments iframe {
    width: 100% !important;
}

.slider-wrapper { margin-top: 0.2em;}

//#slider { height: 320px;}


.username {
  display: none;
}
p#copy a.external {
  /* hide the text: */
  color: transparent;
  overflow: hidden;
  text-indent: 99em;

  /* use a background-image instead: */
  display: inline-block;
  width: 1em;
  height: 1em;
  background: transparent no-repeat left center;
  background-size: contain;

  /* and add some breathing room, but still a hit target: */
  /* (see below for first-of-type adjustment) */
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0.33em;

  /* show them at partial opacity until hover (below): */
  opacity: 0.5;
}

p#copy a.external:hover {
    opacity: 1.0;
}

p#copy a.external:first-of-type {
    margin-left: 0.33em;
}

p#copy a.twitter {
    background-image: url('hollow-cut-facebook.svg');
    background-size: contain;
}

p#copy a.feed {
    background-image: url(/images/feed/feed-icon-14x14.png);
}



